---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
		</style>
	</head>
	<body>
		<Header />
		<main class="max-w-4xl mx-auto px-4 my-12">
			<section>
				<h1>Blog</h1>
				<ul class="space-y-8">
					{
						posts.map((post, index) => (
							<li class="list-none mx-0 px-0">
								<a class="display-block" href={`/blog/${post.id}/`}>
									<h2 class="mb-0 text-rosePine-rose">{post.data.title}</h4>
									<p class="text-rosePine-text mb-0 pb-2">{post.data.description}</p>
									<p class="text-rosePine-foam mb-0">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
								{index < posts.length - 1 && <hr class="mt-8">}
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
